{% load staticfiles %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html>
<header>

</header>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% leaflet_js %}
    {% leaflet_css %}

<body background="{% static 'img/graphy.png' %}">
<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <a href="#" class="navbar-brand" style="font-size: 25px;">Hometracker</a>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'properties' %}">Properties</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{#</div>#}
<div class="container-fluid">
    <div id class="row">
        <div class="col-md-6">
            <div style="margin-left: 100px;margin-top: 50px">
                <h1>{{ user.first_name }}'s list of properties</h1>
                {% for property in properties %}
                    <li><a href="{% url "view_property" property.id %}">{{ property.address }}</a></li>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="mymap" style="width: 450px; height: 450px">
                {% leaflet_map "mymap" callback="window.map_init_basic" %}
                <script type="text/javascript">
                    var data = JSON.parse("{{ cords_json }}");
                    function map_init_basic(map) {
                        var xptr = 0;
                        var yptr = 1;
                        var xcor = 37.579327;
                        var ycor = -122.317347;
                        map.setView([xcor, ycor], 11);
                        for (var i = 0; i < data.length / 2; i++) {
                            marker = new L.marker([data[xptr], data[yptr]]).bindPopup(i).addTo(map);
                            xptr += 2;
                            yptr += 2;
                        }
                    }
                </script>
            </div>
        </div>
    </div>

    <div id class="row">
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <a href="{% url "new_property" %}">Add New Property</a>
            <a href="{% url "profile" %}">Back to Profile</a>
        </div>
        <div class="col-md-8"></div>

    </div>
</div>
</body>
</html>