{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <header>
               <img src={% static 'img/hkbanner.jpg' %}>


</header>

    <body margintop="0" marginleft="0">

<div class="bs-example">
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collection of nav links and other content for toggling -->
                <a href="#" class="navbar-brand">Welcome!</a>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'properties' %}">Properties</a></li>
                <li><a href="{% url 'map' %}">Map</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
    <ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                     <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                     <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
            </ul>
        </div>
    </nav>
</div>
   <div id="map" style="width: 500px; height: 500px;float: right;margin-right: 80px;margin-top: 70px"></div>
    <script>
        var map = L.map('map').setView([-93.0606579, 37.5686855], 14);
        mapLink ='<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 'Map data &copy; ' + mapLink, maxZoom: 18}).addTo(map);
        var xycords_dict = {{ jdata }};
        var count = 0;
        var ary = [];
        for (keys in xycords_dict){
            ary[count] = xycords_dict[parseInt(xycords_dict[keys])];
            count++;
        }
        for (var i=0;i<ary.length-1;i++){
            var marker = L.marker([ary[i],ary[i+1]]).addTo(map);
        }

    </script>
    </body>
</html>