{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}
    <div   style="margin-left: 100px;margin-top: 50px">

    <h2>Huh?</h2>
    <p>Q: What is the purpose of this site?</p>
    <p>Q: In a seller's market, potential buyers making over 20 offers before they can secure a home is the new norm. Hometracker helps potential buyers to keep track of properties that they made offer on.
        Keeping track on the differences between the sold price and their offer price and much more.</p>
    <p>Q: How to use this site?</p>
    <p>A: First register, then start by entering property information, entering notes about the property.</p>
    </div>
{% endblock content %}